@charset "utf-8";
.button_font_variable_length {
  font-size: 1vw;
  width:200px;
  font-weight: bold;

  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #2f9ee2;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;

  margin: 10px;

}


.button_font_variable_length {
  /* buttonをレスポンシブデザインに対応*/
  max-width: 800px; /* 最大幅 */
  min-width: 220px; /* 最小幅 */
}

.button_font_variable_length_withdrawal {
  font-size: 1vw;
  width:200px;
  font-weight: bold;

  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #e22f2f;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;

  margin: 10px;
}

.button_font_variable_length_withdrawal {
  /* buttonをレスポンシブデザインに対応*/
  max-width: 800px; /* 最大幅 */
  min-width: 220px; /* 最小幅 */
}




  .image-view { 
    width : 20vw; 
    /* height: vw ; */
    margin : 20px ;
    padding : 20px ;
    height:65%; 
  }

  .image-view {
    /* 画像をレスポンシブデザインに対応*/
    max-width: 800px; /* 最大幅 */
    min-width: 190px; /* 最小幅 */
  }






